<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.alcopa.saver</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/python3</string>
      <string>/Users/dionis/Project/Python/AlcopaLaunchAgents/save_alcopa.py</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>22</integer>
      <key>Minute</key>
      <integer>20</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/dionis/Project/Python/AlcopaLaunchAgents/alcopa_log.txt</string>

    <key>StandardErrorPath</key>
    <string>/Users/dionis/Project/Python/AlcopaLaunchAgents/alcopa_error.txt</string>
  </dict>
</plist>